### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/**
*.py[cod]
*$py.class

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*
